<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Disease detection from symptoms</title>
    <style>
        /* Add red border to the text input */
        input[type="text"] {
            border: 1px solid red;
        }
    </style>
</head>
 <!-- Add an image -->
    <img src="static/Bursitis-symptoms-and-signs-600x338.jpg" alt="Symptoms">

<h1> Enter your symptoms</h1>
 <form method="POST", enctype="multipart/form-data">
     <input type="text", name ="file_1">
     <input type ="submit">
 </form>
<h2>  {{ inp}}</h2>
<h3> Outcome: {{ result }}</h3>

</bodyBursitis-symptoms-and-signs-600x338.jpg>
</html>